RewriteEngine on

RewriteRule ^(vendor|includes|build|.git)/?.*$ - [F,L]
RewriteRule ^(.editorconfig|.gitignore|composer.json|composer.lock|lint_ruleset.xml|Makefile|propel.yml.dist|Vagrantfile)$ - [F,L]
