propel:
  paths:
    outputDir: build/orm/
  database:
    connections:
      default:
        adapter: mysql
        dsn: mysql:host=localhost;port=3306;dbname=overseer
        user: overseer
        password: overseer
        settings:
          charset: utf8

## Copy the following into `propel.yml` on the server, with proper db and credentials.
## **DO THIS BEFORE RUNNING ANY BUILD TASKS.**
# propel:
#   database:
#     connections:
#       default:
#         adapter: mysql
#         dsn: mysql:host=localhost;port=3306;dbname=overseer
#         user: overseer
#         password:
