<?php

# "Live database - OverseerDev"

$liveConnect = mysqli_connect("localhost","overseer_connect","TFtCuAYGCyvCXhNQ'","OverseerDev");

# "Dev Database - OverseerDevBuild"

$devConnect = mysqli_connect("localhost","overseer_connect","hTFtCuAYGCyvCXhNQ'","OverseerDevBuild");

?>