<?php

// Database host
$conn_host = 'localhost';

// Database user
$conn_user = '';

// Database password
$conn_pass = '';

// Database, er, uhm, database!
$conn_db = '';

// System table row index
$system_index = 0;

////////////////////////////////////////////
// and the actual reason this file exists //
////////////////////////////////////////////
global $dbtype;
if ($dbtype == "PDO") {
  try {
    $db = new PDO('mysql:host=' . $conn_host . ';dbname=' . $conn_db . ';', $conn_user, $conn_pass);
  } catch (PDOException $e) {
    exit("Could not connect to database: " . $e->getMessage() . "<br/>");
  }
} else {
  global $connection;
  $connection = mysqli_connect($conn_host, $conn_user, $conn_pass, $conn_db);
}
