{% let action_page %}
{% if main_strifer.is_leader %}
    {% let action_page = "striferesolve.php" %}
    Enter commands for strifers under your control to proceed:
{% else %}
    {% let action_page = "strifedisplay.php" %}
    You may select commands for strifers under your control:
{% endif %}

<form action="{{ action_page }}" method="post">
    {% for strifer in strifers %}
        {% if strifer.side == main_strifer.side && strifer.is_controllable && strifer.owner_id.is_some() && strifer.owner_id.unwrap() == character.id %}
            {{ strifer.name }}:<br />

            <select name="{{ strifer.id }}active">
                {% for bonus in strifer.active_bonus() %}
                    <option value="{{ bonus.key }}" {% if strifer.last_active == bonus.key %}selected{% endif %}>{{ bonus.key }} ({{ bonus.value }})</option>
                {% endfor %}
            </select><br />

            <select name="{{ strifer.id }}passive">
                {% for bonus in strifer.passive_bonus() %}
                    <option value="{{ bonus.key }}" {% if strifer.last_passive == bonus.key %}selected{% endif %}>{{ bonus.key }} ({{ bonus.value }})</option>
                {% endfor %}
            </select><br />
        {% elif main_strifer.is_leader && strifer.side == main_strifer.side %}
            {{ strifer.name }}:<br />
            Selected actions: {{ strifer.last_active }}/{{ strifer.last_passive }}<br />
        {% endif %}
    {% endfor %}
    {% if main_strifer.is_leader %}
        <input type="submit" id="advance" value="Advance!" />
    {% else %}
        <input type="hidden" name="actiondecision" value="true" />
        <input type="submit" value="Decide!" />
    {% endif %}
</form><br />

{% if main_strifer.is_leader && !potential_leaders.is_empty() %}
    <form hx-post="/strife/leader" hx-target="#leader-result">
        <select name="leader_id">
            {% for leader in potential_leaders %}
                <option value="{{ leader.id }}">{{ leader.name }}</option>
            {% endfor %}
        </select><br />
        <input type="submit" value="Grant leadership" />
    </form><br />
{% endif %}